@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: #f1fbff;
    font-family: 'Roboto', sans-serif;
    
}

.menu{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    min-width: 100vw;
    
}

.separar{
    width: 100%;
    height: 2px;

    background-color:#0c2bf611;
}



.image img{
    margin: 5px;
    width: 250px;
    height: 250px;
}

.textdiv{
    width: 331px;
    height: 233px;

    display: flex;
    justify-content: center;
    align-items: center;
}



.div1{
    width: 100%;
    height: 303px;
    margin: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

.div2{
    width: 100%;
    height: 303px;

    display: flex;
    
    justify-content:space-evenly;
    align-items: center;
}

.div3{
    width: 100%;
    height: 303px;

    display: flex;
    
    justify-content:space-evenly;
    align-items: center;
}

.div4{
    width: 100%;
    height: 303px;

    display: flex;
    
    justify-content:space-evenly;
    align-items: center;
}


/*zone footer*/

.footer{
    width: 100%;
    height: 200px;

    display: flex;
    justify-content: center;
    
    background: linear-gradient(179.85deg, rgba(12, 246, 197, 0) 0.13%, #0CF6C5 99.87%);
}


.instagram{
    display: flex;
    align-items: center;
    margin: 10px;

    background:none; 
}

.whatsapp{
    display: flex;
    align-items: center;
    margin:10px;

    background: none;
}


.instagram img{
    width: 100%;
    height: 50px;

    background: none;
}

.whatsapp img{
    width: 100%;
    height: 50px;

     background: none;
}

.whatsapp p{
    background: none;
    margin-left: 10px;
}

.instagram p{
    background: none;
    margin-left: 10px;
}