@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f1fbff;
    font-family: 'Roboto', sans-serif;
    
}

/*zone menu*/

.menu{
    width: 100%;
    height: min(18vw, 90px);
    display: flex;
    justify-content: center;

    background: white;
    
}


.separar{
    width: 100%;
    height: 2px;

}

/*zone main*/

.main{
    margin-bottom: 15vw;
    margin-left: min(100%, 10vw);
    margin-right: min(100%, 10vw);
}

.image img{
    margin: 5px;
    width: 25vw;
    min-width: 150px;
    max-width: 250px;
    height: auto;

    background: linear-gradient(180deg, #0CF6C5 0%, rgba(12, 246, 197, 0) 100%);
    box-shadow: 3px 5px 8px rgb(116, 116, 116);

    box-sizing: border-box;
    border-radius: 10px;
    padding: 1vw;
    
    
}

.textdiv{
    width: 30vw;
    min-width: 280px;
    max-width: 350px;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1vw;
    background: none;
    
}

.textdiv p {
    background: none;
}

.textdiv strong{
    background: none;
}
a{
    background: none;
}

div{
    background: none;
}

div.image{
    background: none;
}

p.video-text{
    background: none;
}


.titulo-do-conteudo p{
    margin: 1vw;
    background: none;
}

.text-block{
    background: none;
}

.botao-entrar-em-contato{
    margin: 3vw;
    width: min(55vw, 250px);
    height: 100%;
    border: none;
    border-radius: 5px;
    background-color: #0BC6D4;
    color: aliceblue;

    text-align: center;
    text-shadow: #000000;

    cursor: pointer;
    box-shadow: 3px 5px 10px rgb(116, 116, 116);
    font-size:max(15px, 1vw);
    text-shadow: 1px 1px 4px #000000;
    

    padding: 1vw;
}



.botao-entrar-em-contato:hover{
    background-color: #0B5CD4;
    transition: background 1s ;
    
}


.div1{
    width: 100%;
    height: auto;
    margin-top: 2px;
    margin-bottom: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    font-family: Roboto;
    font-style: normal;
    text-align: center;
    
    box-shadow: 1px 3px 4px rgb(116, 116, 116);
}


.banner{
    width: 100%;
    height: auto;

}

.conteudo-em-destaque {
    position:absolute;
    background: none;

    font-size: max(20px, 5vw);
    
}

h1{
    color: aliceblue;
}

.video{
    width: 100%;
    height:auto;

    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 2vw;

}

.video iframe{
    width: min(640px, 90vw);
    height: min(360px, 60vw); 
    padding: 1vw;
    margin: 1vw;
    border-radius: 4px;
    
    background-color: #0BC6D4;
    box-shadow: 3px 5px 10px rgb(116, 116, 116);
}

.video-text{
    width: 100%;
    height: auto;
    font-size: min(40px, 4vw);
    padding: 2vw;
    margin: 1vw;
    
}

.div2{
    width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    
    
    margin-top: 5vw;
    margin-bottom: 5vw;
    text-align: center;
}

.div3{
    width: 100%;
    height: auto;
    

    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    
    margin-bottom:5vw;

    text-align: center;
}

.div4{
    width: 100%;
    height: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    
    margin-bottom:5vw;

    text-align: center;
}


/*zone footer*/

.footer{
    width: 100%;
    height: 200px;
    

    display: flex;
    justify-content: center;
    
    background: linear-gradient(179.85deg, rgba(12, 246, 197, 0) 0.13%, #0CF6C5 99.87%);
}


.instagram{
    display: flex;
    align-items: center;
    margin: 10px;

    background:none; 
}

.whatsapp{
    display: flex;
    align-items: center;
    margin:10px;

    background: none;
}


.instagram img{
    width: 100%;
    height: max(30px, 4vw);

    background: none;
}

.whatsapp img{
    width: 100%;
    height: max(30px, 4vw);

     background: none;
}

.whatsapp p{
    background: none;
    margin-left: 10px;
}

.instagram p{
    background: none;
    margin-left: 10px;
}